body {
    background-color: #000;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  p{
      position: absolute;
      top: 40%;
      left: 40%;
      font-size:70px;
      color: violet;
      font-weight: 800;
      text-shadow: 5px 5px 10px rgb(222, 181, 235);
  }